.modal.hide.fade#about{:style => "display: none;"}
  .modal-header
    %a{:class => "close", :"data-dismiss" => "modal", :href => "#"}
      &times;
    %h2
      About Adopt-a-Hydrant
  .modal-body
    %p
      Welcome to Adopt-a-Hydrant Twin Cities (beta).  Adopt-a-Hydrant allows you to claim a fire hydrant to keep clear of snow so that fire fighters will be able to fight fires more effectively in emergencies.  It's real easy to do:
    %ul
      %li
        %strong
          Sign up for an account.
        We need to know who you are to remind you to shovel out those hydrants.
      %li
        %strong
          Locate your house.
        Or wherever you want to claim a hydrant.
      
      %li
        %strong
          Shovel!
        We'll send you an email when it snows to help remind you to keep those hydrants clear.  
  .modal-footer
    %a{:class => "btn btn-primary", :"data-dismiss" => "modal", :href => "#"}
      OK